.form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.form>div {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.form>div:last-of-type {
    justify-content: center;
}