@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .react-select-container .react-select__control {
    @apply
    text-sm
    rounded-lg
    p-0.5
    border

  bg-gray-700
  border-gray-600
  placeholder-gray-400
  text-white
  focus:ring-purple-600
  focus:border-purple-600
  ;
  }

  .react-select-container .react-select__control--is-focused {
    @apply
     border-gray-600 
     shadow-none;
  }

  .react-select-container .react-select__menu {
    @apply 
    border-2 
    bg-gray-700
    border-gray-600;
  }

  .react-select-container .react-select__option {
    @apply 
    text-sm
    text-white 
    bg-gray-700
    hover:bg-neutral-800;
  }

  .react-select-container .react-select__indicator-separator {
    @apply bg-neutral-400;
  }

  .react-select-container .react-select__input-container,
  .react-select-container .react-select__placeholder,
  .react-select-container .react-select__single-value {
    @apply text-neutral-200;
  }
  
  .react-select-container .react-select__placeholder {
    @apply text-gray-400;
  }

  .react-select-container .react-select__group-heading {
    @apply border-b border-b-gray-400 mx-2 ps-1;
  }
}